.icon_button {
    height: 35px;
}

.icon_button ion-icon {
    font-size:30px;
}

ion-item, .submit {
    margin-top: 20px;
}

.row_list {
    display: flex;
}

.spacer {
    flex-grow: 1;
}

.red_text {
    color: rgba(255, 78, 78, 0.973)
}

.green_text {
    color: rgb(90, 223, 90)
}

.icon_space {
    margin-left: 20px;
}

ion-item {
    --background-hover: none;
    --background-activated: none;
    --ripple-color: transparent;
}